<p id="notice"><%= notice %></p>
    
<h3>Search Results of Movies:</h3>
<table class="table">
  <thead class="table-secondary">
    <tr>
      <th><%= link_to "Movie", :sort => "movie"%> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @matchMovie.each do |movie| %>
      <tr>
        <td><%= link_to movie.movie, users_path(title: movie.id), :id => movie.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Search Results of Accounts:</h3>
<table class="table">
  <thead class="table-secondary">
    <tr>
      <th>Username </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @matchAccount.each do |account| %>
      <tr>
        <td><%= link_to account.name,_path(title: movie.id), :id => movie.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>