<p id="notice"><%= notice %></p>

<h1>Account</h1>

<style>
    body {
  background-color: rgb(35,35,35);
    }
</style>

<div class="header">
        <div class="header-right">
            <a href="users.html" class="btn btn-info">Users</a>
            <a href="movies.html" class="btn btn-info">Movies</a>
            <a href="account.html" class="btn btn-info">Account</a>
            <a href="settings.html" class="btn btn-info">settings</a>
        </div>
     </div>


