<h1>Editing Opinion on Shrek</h1>
<style>
    body {
  background-color: rgb(35,35,35);
    }
</style>

<%= render 'form', user: @user %>

<div class="col-xs-12" style="height:30px;"></div>
<%= link_to 'Show', @user, class: "btn btn-secondary btn-sm" %> |
<%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm" %>
