    body {
  background-color: rgb(35,35,35);
        font-family: "American Typewriter", Times, serif;
    }
    .info {
        color:#32CD32;
    }
    img{
        max-width: 40%;
        height:auto;
    }
    .header{
        text-align:center;
    }
.navbar{
  background: #00CC03 !important;
}

/* Used for links in the movies tab */
a {color: #32CD32;}
a:hover { /* Background color in nav */
  color: #348535;
  
}
.navbar a:hover, .dropdown:hover .dropbtn {
   background-color: green;
}

.btn-success{
    background-color:#348535;
}
.tableHeader{
    color:#32CD32;
}
#navColor{
    color:black;
    font-size: 110%;
}
#navName{
    font-size:125%;
}
#navColor:hover, #navName:hover{
    font-weight:bold;
}
.tableHeader{
    font-size: 105%;
}