    body {
  background-color: rgb(35,35,35);
    }
    .info {
        color:#32CD32;
    }
    img{
        max-width: 40%;
        height:auto;
    }
    .header{
        text-align:center;
    }
.navbar{
  background: #348535 !important;
}

/* Used for links in the movies tab */
a {color: #32CD32;}
a:hover { /* Background color in nav */
  color: #348535;
}
